* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    margin: 0;
    max-width: 1440px;
    margin: auto;
}

.fa-solid {
    color: var(--main-color);
}

li {
    list-style-type: none;
}

header {
    display: flex;
    padding-right: 0px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    height: 79;
}

header>img {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 61.09px;
    height: 19px;
}

.menu {
    display: flex;
    padding-top: 14px;
}

.menu:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 68px;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 68px;
    margin-top: 0;
    margin-bottom: 0;
}

nav>ul>li {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.titre-principal>h1 {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.titre-principal>h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.titre-principal {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

/** Recherche **/
.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
}

.recherche {
    display: flex;
    color: #212529;
    border-radius: 5px;
}

.formulaire {
    display: flex;
    height: 49px;
    width: 377px;
}

.bouton-rechercher {
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.bouton-rechercher:hover {
    background-color: #448fff;
}

input {
    border: 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    outline: 0;
}

input,
textarea {
    color: rgb(68, 68, 68);
    opacity: 1;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
    font-size: 17px;
}

/** Filtres **/

.filtres {
    display: flex;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 15px;
}

.filtres>h2 {
    font-size: 18px;
}

.filter-button {
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    padding-left: 19px;
    padding-right: 19px;
    height: 50px;
}

.filter-button>i {
    color: #0065FC;
    padding-right: 10px;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

/** Infobar **/
.infobar {
    display: flex;
    height: 24px;
    align-items: center;
    font-size: 16px;
    padding-bottom: 35px;
    gap: 10px;
}

.infobar>i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.2%;
    border: 1px solid #919191;
    padding: 0.3%;
    border-radius: 90px;
    width: 16px;
    color: #0065FC;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hebergements-cards a {
    width: 30%;
    min-width: 232px;
    margin-bottom: 30px;
    margin: 1%;
}

.card-hebergement {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    flex: 1 0 0;
    border-radius: 20px;
    border: 5px solid white;
    background: white;
    /* width: 250px; */
    height: 192px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.hebergements-cards img {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    height: 124px;
    padding-bottom: 8px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 16px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
    padding-bottom: 8px;
}

.hebergements-cards .card-rating {
    margin-bottom: 15px;
}

.afficher-plus {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activités *****/
.activites {
    padding: 30px;
}

.activites>h2 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}

.activites-cards {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: 30px;
}

.activites-card {
    display: flex;
    flex-direction: column;
    height: 439px;
    width: 298px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #dedede;
}

.image-activite {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.texte-activite {
    padding: 0 19px
}

.texte-activite>h3 {
    font-size: 16px;
    font-weight: 700;
}

/***** Footer *****/
footer {
    background-color: var(--main-bg-color);
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 35px;
}

footer>div {
    width: 33%;
    list-style: none;
    margin: 0;
}

footer>div>h5 {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 15px;
}

footer>div>ul {
    padding: 0;
}

footer>div>ul>li {
    padding-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}